In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("cleaned_data.csv")

In [3]:
df

     Unnamed: 0    Price  Area in sq ft
0          3081   900000            902
1          2173   825000            687
2           136  1750000           1580
3           364  2100000           3596
4           368  1280000           1169
..          ...      ...            ...
189        2992  2500000           1227
190        3146   807995           1650
191         188   765000           1362
192         203  1850000           2516
193        3208   925000           1607

[194 rows x 3 columns]

In [11]:
df

     Area in sq ft
0              902
1              687
2             1580
3             3596
4             1169
..             ...
189           1227
190           1650
191           1362
192           2516
193           1607

[194 rows x 1 columns]

In [1]:
def linear_function(x, w, b):
    
    m = x.shape[0]
    y_pred = np.zeros(m)
    
    for i in range(m):
        y_pred[i] = w * x[i] + b
        
    return(y_pred)

In [2]:
def linear_model(w_in, b_in, x, y, L):
    
    w_gradient = 0 
    b_gradient = 0 
    
    m = x.shape[0]
    
    for i in range(m):
        #x = data.iloc[i]['Area in sq ft']
        #y = data.iloc[i]['Price']
        
        w_gradient = -(2/m) * x[i] * (y[i] - (w_in * x[i] + b_in))
        b_gradient = -(2/m) * (y[i] - (w_in * x[i] + b_in))
        
    w = w_in - w_gradient * L
    b = b_in - b_gradient * L
    
    return w, b